@model Connect2Donate.Models.TblRespons

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblRespons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblRequest.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblRequest.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUser.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResponseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
