@model Connect2Donate.Models.RegistrationDataModel
@{
    ViewBag.Title = "ResetPasswordFromEmail";
}

<h2>Reset Your Password</h2>
<br />

<div class="alert alert-warning" id="previous">
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Email,new { htmlAttributes = new {id="Email", @class = "form-control" } })
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { id = "Password", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" onclick="Verified()" class="btn btn-default" />
            </div>
        </div>
    </div>

</div>
<div class="alert alert-success" id="after" style="display:none">
    <strong><span class="glyphicon glyphicon-ok"></span>Your password is changed!</strong>
</div>

<script>
    function Verified() {
        $.ajax({
            type: "post",
            url: "/ResetPassword/ResetPasswordUsingEmail",
            data: {
                'email': $('#Email').val(),
                'enteredPassword' : $('#Password').val()
            },
            statusCode: {
                404: function (content) { alert('cannot find resource'); },
                500: function (content) { alert('internal server error'); }
            }, 
            success: function (msg) {
                $("#previous").hide();
                $("#after").show();
                alert(msg);
            }
        })
    }
</script>

